<!--聊天介面-->
<div class="chat-wrap">
    <div class="chat-wrap-top">
        <h3 id="chat-title"> </h3>
        {{!-- <button class="leaveBtn"><img src="images/cross.png"></button> --}}
    </div>
    <div class="chat-wrap-main" id="chat-wrap">
        <div class="chat-con" clearfix></div>
        <div class="bottom">
            <input type="text" id="sendtxt" placeholder="Type a message">
            <button class="sendBtn">
                {{!-- <img src="images/send.png"> --}}
            </button>
        </div>
    </div>
</div>